<!DOCTYPE html>
<html>
    <head>
        <title>User Portal</title>
    </head>
    <body>
        <h1>Let's Study, {{.name}}!</h1>
        <button onclick="window.location.href='/user/makepractice';">Make My Own Practice</button>
        <!-- <form method="post" action="/search" id="searchbox">
			<label>Search:</label>
			<input type="text" name="search">
		  </form> -->
        
        <div id="container-list-soal"></div>

        <script>
            var jsonstring = JSON.stringify({{.pslist}})
            var jsondata = JSON.parse(jsonstring)
            const output = [];
            for (let index = 0; index < jsondata.length; index++) {
                output.push(`<div class="paketsoal"> <a href="./user/dopractice/${jsondata[index].Id_PaketSoal}/${jsondata[index].Tingkat}/${jsondata[index].Kelas}/${jsondata[index].Mapel}/${jsondata[index].Tema}">${jsondata[index].Tingkat}-${jsondata[index].Kelas}-${jsondata[index].Mapel}-${jsondata[index].Tema} </a></div>
                            `)
                
            }
            document.getElementById("container-list-soal").innerHTML = output.join('');
        </script>
    </body>
</html>