<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Let's Study, {{.name}}!</h1>
        to be implemented : search soal, buat soal
        <form method="post" action="/search" id="searchbox">
			<label>Search:</label>
			<input type="text" name="search">
		  </form>
        <button onclick="window.location.href='/user/letsstudy';">Study</button>
        <div id="container-list-soal"></div>

        <script>
            var jsonstring = JSON.stringify({{.pslist}})
            var jsondata = JSON.parse(jsonstring)
            const output = [];
            for (let index = 0; index < jsondata.length; index++) {
                output.push(`<div class="paketsoal"> <a href="./dopractice/${jsondata[index].Id_PaketSoal}">${jsondata[index].Tingkat}-${jsondata[index].Kelas}-${jsondata[index].Mapel}-${jsondata[index].Tema} </a></div>
                            `)
                
            }
            document.getElementById("container-list-soal").innerHTML = output.join('');
        </script>
    </body>
</html>